.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.5rem);
}

.row-hover tbody tr:hover {
  cursor: pointer;
}

.row-hover tbody tr:hover td {
  background-color: #f3f3f3 !important;
}